@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

@tailwind base;
@tailwind components;

body {
  font-size: 13px;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #000;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@tailwind utilities;
